# https://pnpm.io/npmrc#registry
# The base URL of the npm package registry (trailing slash included).
registry=https://registry.npmjs.org/
# https://github.com/vercel/next.js/issues/68805#issuecomment-2499058128
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
# https://pnpm.io/9.x/cli/add#--ignore-workspace-root-check
ignore-workspace-root-check=true
