# https://pnpm.io/npmrc#public-hoist-pattern
# Unlike hoist-pattern, which hoists dependencies to a hidden modules directory inside the virtual store, 
# public-hoist-pattern hoists dependencies matching the pattern to the root modules directory. 
# Hoisting to the root modules directory means that application code will have access to phantom dependencies, 
# even if they modify the resolution strategy improperly.
# This setting is useful when dealing with some flawed pluggable tools that don't resolve dependencies properly.
public-hoist-pattern[]=
