# https://pnpm.io/npmrc#registry
# The base URL of the npm package registry (trailing slash included).
registry=https://registry.npmjs.org/

# https://pnpm.io/npmrc#node-linker
# Your project is deployed to a serverless hosting provider. Some serverless providers (for instance, AWS Lambda) don't support symlinks. 
# An alternative solution for this problem is to bundle your application before deployment.
node-linker=hoisted